*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
@font-face {
  font-family: "ArchitectsDaughter";
  src: local("ArchitectsDaughter"),
    url("../public/assets/fonts/ArchitectsDaughter-Regular.ttf")
      format("truetype");
  font-weight: normal;
}

body {
  font-size: 1em;
  line-height: 1;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@include placeholder {
  color: rgb(41, 18, 18);
}

#root-container {
  margin: 2rem auto;
  height: auto;
  width: 80vw;
  color: green;
  & header {
    background-color: rgb(228, 208, 208);
    height: 3rem;
    margin-bottom: 1rem;
    & .todo-search {
      padding: 1rem;
    }
  }
  & .todos-title {
    display: flex;
    justify-content: center;
    .todos-stats {
      width: 9rem;
      padding-top: 0.8rem;
      margin-left: 0.5rem;
    }
  }
  & .todo-container {
    min-height: 35vh;
    & .task-default {
      display: flex;
      justify-content: center;
      width: auto;
      font-size: 15rem;
    }
    & .todo-item {
      .important {
        font-weight: bold;
        color: rgb(60, 31, 168);
      }
      & .todo-item-form-input {
        display: flex;
        align-items: center;
        justify-content: Space-between;
        & .todo-item-title {
          height: 1rem;
          display: flex;
          align-items: center;
          margin-right: 1rem;
          flex: 1;
          min-width: 0;

          & label {
            display: flex;
          }
          & .item {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.5rem;
          }
          & .done {
            text-decoration: line-through;
          }
        }

        & .todo-actions {
          & .fa-trash {
            color: red;
          }

          :first-child {
            margin-right: 1.5rem;
          }
          & i {
            cursor: pointer;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  & .todo-input {
    & input {
      padding: 1rem;
    }
    & button {
      width: 100%;
    }
    @media (min-width: 435px) {
      display: flex;
      & button {
        width: 25%;
      }
    }
  }

  footer {
    font-family: ArchitectsDaughter;
    background-color: #00ffc8;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    & .presintation_container {
      color: #80678a;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      & .logo_container {
        display: flex;
        align-items: center;
        & span {
          margin-left: 0.8rem;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.6rem;
        }
        & img {
          width: 2rem;
        }
      }
      & .link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.5rem;
        min-width: 8rem;
        & .link-route {
          cursor: pointer;
          &:hover {
            color: #7f499e;
          }
        }
        & a {
          margin-right: 1rem;
        }
        :last-child {
          margin-right: 0;
        }
      }
    }
  }
}
